.wrapper {
  overflow-x: hidden;
}

#title {
  color: black;
  text-align: center;
  z-index: 1000;
  font-weight: 900;
}

#span {
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  top: 3vh;
  left: 10vw;
  z-index: 1200;
  /* margin: 0; */
}

/* These are all pictures */
.DCW,
.DIC,
.jp,
.door,
.crew,
.bsd,
.cc,
.pp {
  border-radius: 15px;
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%);
  margin-bottom: 2vh;
}

.jp,
.door,
.crew,
.bsd,
.cc,
.pp {
  height: 360px;
  width: 500px;
  overflow: hidden;
}

@media only screen and (max-width: 1504px) {
  #h3 {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1203px) {
  #h3 {
    font-size: large;
  }
}

@media only screen and (max-width: 1154px) {
  #span {
    top: 4vh;
    font-size: x-large;
  }
}

@media only screen and (max-width: 1097px) {
  #span {
    /* display: none; */
    left: 11vw;
  }
}

@media only screen and (max-width: 991px) {
  #h5 {
    display: none;
  }
}

@media only screen and (max-width: 781px) {
  #span {
    /* display: none; */
    left: 20vw;
  }
}

@media only screen and (max-width: 599px) {
  #span {
    display: none;
  }
}
