.wrapper {
  overflow-x: hidden;
}

#title {
  color: black;
  text-align: center;
  z-index: 1000;
  font-weight: 900;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: dimgray;
  -webkit-text-stroke-width: 1px;
  margin-top: 5vh;
}

#span {
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 40vw;
  z-index: 1200;
  margin: 0;
}

.DCW,
.DIC,
.jp,
.door,
.crew,
.bsd,
.cc,
.pp {
  border-radius: 15px;
  box-shadow: -1px -1px 2px 2px hsl(0, 0%, 79%), 5px 5px 5px 3px hsl(0, 0%, 39%);
  margin-bottom: 2vh;
}

.jp,
.door,
.crew,
.bsd,
.cc,
.pp {
  height: 360px;
  width: 500px;
  overflow: hidden;
}

@media only screen and (max-width: 1504px) {
  #h3 {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1203px) {
  #h3 {
    font-size: large;
  }
}
